body{
   color:black;
   margin:0;
  
}
.booking-heading{
text-align: center;
 background-color: lightgray;
}
.booking-form-container {
  background-color: lightgray;
 
 padding: 80px 0;
  display: flex;
  
  justify-content: center;
 align-items: center;
  
  

}

.booking-date-text{
   float: left;
/* border: 3px solid blue; */   
}

.booking-name-text{
   float: left;
   /* border: 3px solid blue; */
}

.booking-email-text{
   float: left;
   /* border: 3px solid green; */
}

.booking-time-text{
   float: left;
   /* border: 3px solid green;; */
}


.calender-hidden{
   display:none;
   height: 320px;
   width: 320px;
}

.calender-active{
   display: block;
   margin-top: 20px;
   border: 3px solid green;
   height: 320px;
   width: 320px;

}