* {
    box-sizing: border-box;
}
html , body{
    height: 100%;
    padding: 0px;
    margin: 0px; 
    font-family: sans-serif;
    color: white;
}

.footer{
    background: #3b3b3b;
    color: #e1e1e1;
    height: 350px;
    position: relative;
}
.footer .footer-content{
    border: 1px solid red;
    height: 300px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    border: 1px solid white;
    padding: 25px
}
 .footer .footer-bottom{
    background-color: gray;
    color: #e1e1e1;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
    width: 100%;
}

#footer-links a{
     color: #e1e1e1;
   font-size: 18px;  
}
.contact a{
    color: #e1e1e1;  
}

.footer .footer-content .contact-form .contact-input{
    background: #222222;
    color: gray;
    margin-bottom: 2px;
    line-height: 1.7rem;
    border: none;
}


.text-input{
    padding: .5rem ;
    display: block;
    width: 100%;
    border-radius: 5px;
    color: red;
    line-height: 1.5rem;
    outline: none;
    border: 1px solid black;
}
