* {
    box-sizing: border-box;
}
html , body{
    height: 100%;
    padding: 0px;
    margin: 0px; 
    font-family: sans-serif;
    color: white;
}

.footer{
    background: #3b3b3b;
    color: #e1e1e1;
    height: 370px;
    position: relative;
  
}
.footer .footer-content{
   
    height: 350px;
    display: flex;
    
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 27px;
    
}

 .footer .footer-bottom{
    background-color: #222222;
    color: #e1e1e1;
    height: 35px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 9px;
    width: 100%; 
}

#footer-links a{
    color: #e1e1e1;
   font-size: 18px;  
   padding-top: 10px;
}

.footer .footer-content .links ul a{
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
    transition: all .4s;  
}

.footer .footer-content .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition:  all .4s;
}

.contact span{
    display: block;
    font-size: 1em;
    margin-bottom: 8px;
}

.contact a{
    color: #e1e1e1;  
}
.socials span{
   border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 7px;
    margin-right: 5px;
    text-align: center;
    font-size: 1.4em;
    display: inline-block;
    border-radius: 5px;
}

.socials span:hover{
  color: white;
    border: 1px solid white;
    transition: all .7s;
}

.logo-text span{
    color: #999999;
}

.logo-text-p{
    padding-top: 20px;
}

.footer .footer-content .contact-form .contact-input{
    
    background: #222222;
    color: gray;
    border: none;
    margin-bottom: 5px;
     /* line-height: 1.2rem; */
    /* padding: 1rem 1.2rem;  */  
}

.footer .footer-content .contact-form .contact-input:focus{
    background: black;
    color: white;
}

.contact-input-message{
    font-family: sans-serif;
    line-height: 20px; 
}

.text-input{
  padding-top: 12px;
    display: block;
    width: 100%;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;   
}

.btn-big{
    margin-top: 1%;
    padding: 5px;
    line-height: 17px;   
}

.btn:hover{
    color: white;
    background-color: #222222;
}

.contact-btn{
    float: right;
    width: 100%;   
}
@media only screen and (max-width: 850px){
.footer{
    height: auto;
}
    .footer .footer-content{
    height: auto;
    flex-direction: column;
    }
}

.message{
    display:none
}

.messageShow{
    display:block;
    color:white;
}