body{margin:0;
padding: 0;}


.group-images{
   max-width: 50%;
}

img{
vertical-align:bottom;


}

.group-images:hover {
    cursor: pointer;
    -webkit-filter: brightness(135%);
    transition: all 1s ease; 
}